*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 540px){
    html {font-size: 10px;} 
    .about-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 390px;
        width: 100%;
    }
}

.about-container p{
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: justify !important;
    margin: 50px auto;
    width: 90%;
}

.about-container img{
    float: right;
    width: 50%;
    padding: 0 15px;
}