*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 540px){
    html {
        font-size: 10px;
    }
}

.container{
    display: flexbox;
}

/* .container img{
    width: 50%;
} */

.title{
    font-size: 3rem;
    margin-top: 55px;
}

.paragraph{
    font-size: 1.5rem;
    text-align: justify;
    /* font-family: Myriad Variable Concept regular !important; */
}

