*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

.blog-container h2{
  width: 100%;
  height: auto;
  padding: 25px 0;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 2.5em;
}

.blog-container h1{
  text-align: center;
  margin-top: 50px;
}
.blog-container a{
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 21px;
  letter-spacing: 1px;
  font-family: Bebas Neue;
}
#blog div {
  display: grid;
  margin: 0 auto 20px;
  max-width: 500px;
  border: gray solid 1px;
  border-radius: 20px;
  padding: 40px 0 0 0;
  overflow: hidden;
}
.heb{
  margin-bottom: 20px!important;
}
.blog-container p {
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto 50px auto;
  width: 90%;
  padding: 0 40px;
}
.blog-container p span {
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  width: 90%;
  margin-bottom: 0!important;
}
.blog-container span {
  font-size: 1.2rem;
  font-family: GillSans;
  width: 90%;
  text-align: center;
  margin-bottom: 50px;
}
.blog-container div p{
  max-width: 500px;
}


@media screen and (max-width: 540px){
  .blog-container p{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 390px;
    width: 100%;
  }
  #blog div{
    max-width: 90%;
  }
}


