 *{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

div#brands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 30px;
  padding: 50px 0;
}
div#brands img{
  margin: auto;
  width: 90%;

}
.brands-container div{
  font-size: 1rem;
  width: 90%;
  margin: auto;
}
div#brands p {
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (max-width: 540px){
    div#brands {
      display: flex;
      flex-direction: column-reverse;
    }
    .brands-container div{
      font-size: 1.5rem;
      width: 90%;
    }

}

