/* $grayBg: #f7f8fa; */

.footer-container {
  height: auto;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: #151515;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 70px 0 50px;
  font-family: arial;
}
.footer-container h5 {
  text-transform: uppercase;
  font-weight: 700;
}
.footer-container ul {
  list-style: none;
  padding: 0;
  line-height: 2.5em;
}
.footer-container a {
  text-decoration: none;
  color: white;
}
.footer-container li {
  display: flex;
}
.footer-container img {
  height: 30px;
  filter: invert();
  margin: 0 10px 0 0;
}
@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    padding: 70px 50px 50px;
  }
  .footer-contact, .footer-menu, .footer-politics{
    width: 75%;
    margin: 30px auto ;
  }
}
@media screen and (max-width: 425px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-contact, .footer-menu, .footer-politics{
    width: 75%;
    margin: 0 auto 30px;
  }
  .footer-container h5 {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}