#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
:root {
  --swiper-theme-color: #828282;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  padding: 4px 0 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
  padding: 15px;
}

.swiper {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 0 50px;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-button-prev,
.swiper-button-next{
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: calc(0px - var(--swiper-navigation-size)/2);
  position: absolute;
  top: calc(var(--swiper-navigation-size)/2);
  width: calc(var(--swiper-navigation-size)/44*27);
  z-index: 10;
  height: 100%;
  background: #eeeeee;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next::after {
  position: relative;
  right: 6px;
  font-size: 2em;
}
.swiper-button-prev::after {
  position: relative;
  left: 6px;
  font-size: 2em;
}

.morePadding{
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .morePadding{
    padding: 40px;
  }
}
.swipper-title {
  margin: 0 0 0 50px;
}
.swiper-back-img{
  display: none!important;
}

.fox-swipper {
  max-width: 1440px;
}

@media screen and (max-width: 425px) {
  .fox-swipper {
    width: 425px;
  }
  .tshirts .morePadding {
    padding: 10px;
  }
}
@media screen and (max-width: 320px) {
  .fox-swipper {
    max-width: 320px;
  }
  .swiper-button-next::after {
    position: relative;
    right: 6px;
    font-size: 1.5em;
  }
  .swiper-button-prev::after {
    position: relative;
    left: 6px;
    font-size: 1.5em;
  }
  .tshirts .morePadding {
    padding: 5px;
  }
}
