/* $blue: #65c8db; */
.navbar>.container{
  justify-content: space-evenly;
}
.lateral{
  filter: invert(1);
}
.navbar-style a{
  color: #000000 !important;
  font-size: 1.7rem;
}
.navbar-expand-lg{
  flex-wrap: wrap;
}
.navbar-brand{
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: center;
  margin-bottom: 15px;
}
.navbar-brand h1{
  font-size: 3em!important;
  line-height: 45px;
  margin: 0 10px;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #basic-navbar-nav img{
    width: 180px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand{
    justify-content: left;
    margin-bottom: 0;
  }
  .navbar-brand h1{
    font-size: 2.5em!important;
  }
}
@media screen and (max-width: 540px) {
  .navbar-brand{
    justify-content: space-around;
  }
  .navbar-brand h1{
    margin: 0;
  }
}